.product_Card_Body{
    /* border: 2px solid red; */
    width: 365.913px;
    height: 574.888px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.product_card_image{
    width: 365.913px;
    height: 487.350px;
    border-radius: 30px;
}

.card_text{
    font-size: 20px;
    position: relative;
    left: -3px;
    top:15px;
    color: black;
    text-align: center;
}